* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}
body {
  min-height: 100vh;
  font-family: 'Roboto', 'Tahoma', sans-serif;
  box-sizing: border-box;
}
#root {
  overflow: hidden;
}
